<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Quotes Board</h1>
    <p>Post your favorite quotes, pass the light.</p>
  </div>
</div>
<div>
  <div class="container">
    <div *ngFor='let quote of quotes; let i=index'>
      <div class="row">
        <div class="col-lg-6">
          <div class="quote card">
            <h6 id="{{i}}" class="card-header">{{quote.body}}</h6>
            <div class="card-body">
              <button class="btn btn-success" (click)='toggleDetails(i)'>Details</button>
              <div>
                <app-quote-details *ngIf="quote.showPublisher" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container register">
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
  </div>
</div>
