.jumbotron-fluid{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/60/25/1757a59a8b4c04b.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #e0e2e5;
  text-align: center;
}
.quote{
  background-color: rgb(147, 163, 188);
  padding: 1.5%;
  margin-bottom: 2%;
}
.register{
  position: fixed;
  top: 60%;
  right: 2%;
}
